<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>lt</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="static/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#"><span>Language Translator</span> </a>
            <div class="collapse navbar-collapse" id="navcol-1"></div><a href="/">Translate More...</a>
        </div>
    </nav>
    <div class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Team </h2>
                <p class="text-center">"Language Translator" Project was done as an internship project in collboration
                    among the following people :</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 col-xl-6 item" style="width: 374px;">
                    <div class="box">
                        <h3 class="name"></h3>
                        <p class="title">STUDENT</p>
                        <p class="description">Email : </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-6 item">
                    <div class="box">
                        <h3 class="name"></h3>
                        <p class="title">STUDENT</p>
                        <p class="description">Email :</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item" style="width: 293px;">
                        <h3></h3>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li></li>
                            <li><a href="/team">Team</a></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Language Translate</h3>
                        <p>With the help of our website, we are trying to give you a seamless experience of translating
                            your sentences into different languages.</p>
                    </div>
                </div>
                <p class="copyright">Language Translator © 2020</p>
            </div>
        </footer>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
